<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "ScriptForFullCycle" verbose="1">
    <test name = "FullCircleWorkTest">
        <groups>
            <run>
                <include name = "Validator"/>
                <include name="Parser"/>
            </run>
        </groups>
        <classes>
            <class name = "by.epam.task.validator.CustomFileValidatorTest"/>
            <class name = "by.epam.task.validator.XMLValidatorTest"/>
            <class name = "by.epam.task.parser.TariffsDomParserTest"/>
            <class name="by.epam.task.parser.TariffsSaxParserTest"/>
            <class name="by.epam.task.parser.TariffsStaxParserTest"/>
        </classes>
    </test>


</suite>